<p id="notice"><%= notice %></p>

<p>
  <strong>Номер:</strong>
  <%= @train.number %>
</p>


<p>
<strong>Вагоны: </strong>  
  <ul>
    <% if @train.formation %>     
      <% @train.wagons.direct_formation.each do |wagon| %><br>
      <li><%= link_to "Вагон №#{wagon.number}", wagon %></li>
      <% end %>
    <% else %>
      <% @train.wagons.reverse_formation.each do |wagon| %><br>
      <li><%= link_to "Вагон №#{wagon.number}", wagon %></li>
      <% end %>
    <% end %>
  </ul>
</p>

<p>
<strong>Сортировать вагоны</strong>
</p>
</p>
<p>
  <%= form_for @train, url: {action: "show"} do |f| %>
  <%= f.check_box(:formation) %>
  <%= f.label(:formation, "С головы") %><br><br>
  <%= f.submit "Сортировать" %>
<% end %>
</p><br>

 <%= link_to "Добавить вагон", new_train_wagon_path(@train) %><br>

  <strong>Кол-во купейных вагонов: </strong>
  <%= c_wagon_amt = @train.c_wagon_amt %><br>

  <strong>Кол-во плацкартных вагонов: </strong>
  <%= e_wagon_amt = @train.e_wagon_amt %>
</p> 

<p>
  <strong>Кол-во мест в купе: </strong><br>
  верхник - <%= @train.c_up_places %><br>
  нижних - <%= @train.c_low_places %><br>

  <strong>Кол-во плацкартных мест: </strong><br>
  верхник - <%= @train.e_up_places %><br>
  нижних - <%= @train.e_low_places %><br>
</p>

<p>
  <strong>Маршрут следования: </strong> 
    <% if @train.current_route.title.present? %>
      <%= @train.current_route.title %>
    <% else %> 
      Маршрут не назначен
      <% end %> 
</p>
<%= link_to 'Редактировать', edit_train_path(@train) %> |
<%= link_to 'Назад', trains_path %>
