<p id="notice"><%= notice %></p>

<p>
  <strong>Номер:</strong>
  <%= @train.number %>
</p>

<p>
  <strong>Кол-во купейных вагонов: </strong>
  <%= c_wagon_amt = @train.c_wagon_amt %>

  <strong>Кол-во плацкартных вагонов: </strong>
  <%= e_wagon_amt = @train.e_wagon_amt %>
</p> 

<p>
  <strong>Кол-во мест в купе: </strong><br>
  верхник - <%= @train.c_up_places %><br>
  нижних - <%= @train.c_low_places %><br>

  <strong>Кол-во плацкартных мест: </strong><br>
  верхник - <%= @train.e_up_places %><br>
  нижних - <%= @train.e_low_places %><br>
</p>

<p>
  <strong>Маршрут следования: </strong> 
    <% if @train.current_route.title.present? %>
      <%= @train.current_route.title %>
    <% else %> 
      Маршрут не назначен
      <% end %> 
</p>
<%= link_to 'Редактировать', edit_train_path(@train) %> |
<%= link_to 'Назад', trains_path %>
