<%= form_for(@ticket) do |f| %>
  <%= render 'common/errors', resource: @ticket %>

  <div class="field">
    <%= f.label :number, 'Номер билета' %><br>
    <%= f.text_field :number %>       
  </div>

  <div class="field">
    <%= f.label :full_name, 'ФИО пассажира' %><br>
    <%= f.text_field :full_name %>       
  </div>

  <div class="field">
    <%= f.label :train, "Билет на поезд" %><br>
    <%= f.collection_select :train_id, Train.all, :id, :number %>
  </div>

  <div class="field">
    <%= f.label :start_station, "Станция посадки" %><br>
    <%= f.collection_select :start_station_id, RailwayStation.all, :id, :title %>
  </div>

  <div class="field">
    <%= f.label :end_station_id, "Станция назначения" %><br>
    <%= f.collection_select :end_station_id, RailwayStation.all, :id, :title %>
  </div>

  <div class="actions">
    <%= f.submit "#{@ticket.new_record? ? 'Создать' : 'Изменить'}" %>
  </div>
<% end %>