<p id="notice"><%= notice %></p>

<p>
  <strong>Вагон:</strong>
  <%= @wagon.sort %><br>
</p>

<p>
  <strong>Количество мест:</strong><br>
  <% if @wagon.sort == "купе"%>
  <%= "#{@wagon.upper_places = 28} верхних" %><br>
  <%= "#{@wagon.lower_places = 28} нижних" %><br>
  <% @wagon.save %>
  <% else %>
  <%= "#{@wagon.upper_places = 18} верхних" %><br>
  <%= "#{@wagon.lower_places = 18} нижних" %><br>
  <% @wagon.save %>
  <% end %>
  </p>

<%= link_to 'Редактировать', edit_wagon_path(@wagon) %> |
<%= link_to 'Назад', wagons_path %>

